
<div>
   <app-area></app-area>
</div>
<mat-divider></mat-divider>


<div class="g-cards"  fxLayout="row" fxLayoutAlign="space-between-center" fxLayoutGap="20px">
  <mat-card fxFlex="25">
      content
  </mat-card> 

  <mat-card fxFlex="25">
    content
</mat-card> 

<mat-card fxFlex="25">
    content
</mat-card> 

<mat-card fxFlex="25">
    content
</mat-card> 

<mat-card fxFlex="25">
    content
</mat-card> 
</div>

<mat-divider></mat-divider>

<!-- <div>
    <div>Table</div>
    <div>Pie Charts</div>
</div> -->